# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*



/src/Pages/BookList
/src/Pages/Books
/src/Pages/Categories
/src/Pages/CategoriesList
/src/Pages/Login
/src/Pages/Register
/src/Pages/User








node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
