$primary: #3a0ca3;
$secondary: #cd0815;
$primary-light: #f2f4f7;
$text-primary: #291f20;
$text-secondary: #675b5b;
$border-color: #d9d9d9;
$button-primary-color: #6366f1;
$form-text-color: #96a5ac;

$bg-primary: #f5f5f5;
$bg-primary-light: #dfd1ff;
$bg-secondary: #f0e5d7;
$bg-primary-dark: #f4f4f4;

$font-primary: "Poppins";

$gray: #a5b6ca;
$red: #cd0815;
$green: #10aa49;
$success: #68c237;

$red-light: #fdf3f3;
$green-light: #f1f8f1;
$blue-light: #f4f6fb;
